.addButt{
  margin-left: 130px;

 
  font-size: 120px;
  height: 300px;
width:250px;
}
  
.App {
  text-align: center;
  
}



.search
{
  display: flex;
  justify-content:  center;
  align-items: center;
  width: 600px;
   margin-left:130px;
}
.tot{
  background-color:#232A32;
}